<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Administrativa - Inicio</title>
    <link rel="stylesheet" href="/paginas/style.css">
</head>
<body>
<div>
    <div class="container">
        <header class="panel-inicio">
            <h1>Tablas</h1>
        </header>
        <section class="card-container">
            <a href="/admin/integrantes/listar" class="card">
                <h2>Integrantes</h2>
            </a>
            <a href="/admin/tipo_media/listar" class="card">
                <h2>Tipo Media</h2>
            </a>
            <a href="/admin/media/listar" class="card">
                <h2>Media</h2>
            </a>
        </section>
    </div>
    <div   class="actions">
        <a href="/" class="btn" style="background-color: red;">Volver</a>
    </div>
</div>
</body>
</html>
