<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Media</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #d6d6d6;
        }
        .form-container {
            background: white;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            width: 100%;
            max-width: 500px;
        }
    </style>
</head>
<body>
<div class="form-container">
    <h1 class="mb-4 text-center">Crear Media</h1>
    <form action="/admin/media/create" method="POST" enctype="multipart/form-data" novalidate>
        <div class="mb-3">
            <label for="integrante" class="form-label">Integrante</label>
            <select name="integrante" id="integrante" class="form-select">
                <option value=""></option>
                {{#each integrantes}}
                    <option value="{{matricula}}">{{nombre}} {{apellido}} - {{matricula}}</option>
                {{/each}}
            </select>
        </div>

        <div class="mb-3">
            <label for="tipo_media" class="form-label">Tipo Media</label>
            <select name="tipo_media" id="tipo_media" class="form-select">
                <option value=""></option>
                {{#each tipoMedia}}
                    <option value="{{id}}">{{nombre}}</option>
                {{/each}}
            </select>
        </div>

        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" name="titulo" id="titulo" value="{{formData.titulo}}" required>
        </div>

        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" name="descripcion" id="descripcion" value="{{formData.descripcion}}" required>
        </div>

        <div class="mb-3">
            <label for="orden" class="form-label">Orden</label>
            <input type="number" class="form-control" name="orden" id="orden" value="{{formData.orden}}" required>
        </div>

        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tipo" id="imagen" value="imagen" checked onchange="toggleInputs(this.value)">
                <label class="form-check-label" for="imagen">Imagen</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tipo" id="url" value="url" onchange="toggleInputs(this.value)">
                <label class="form-check-label" for="url">URL</label>
            </div>
        </div>

        <div id="inputs-imagen" style="display:block;">
            <div class="mb-3">
                <label for="imagen" class="form-label">Imagen</label>
                <input type="file" class="form-control" name="imagen" id="imagen">
            </div>
        </div>

        <div id="inputs-url" style="display:none;">
            <div class="mb-3">
                <label for="url" class="form-label">URL</label>
                <input type="text" class="form-control" name="url" id="url" value="{{formData.url}}">
            </div>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Crear</button>
            <button type="button" class="btn btn-danger" onclick="window.location.href='/admin/media/listar'">Volver</button>
        </div>
    </form>
    {{#if error}}
        <div class="alert alert-danger mt-3">{{error}}</div>
    {{/if}}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function toggleInputs(value) {
        document.getElementById('inputs-imagen').style.display = 'none';
        document.getElementById('inputs-url').style.display = 'none';
        if (value === 'imagen') {
            document.getElementById('inputs-imagen').style.display = 'block';
        } else if (value === 'url') {
            document.getElementById('inputs-url').style.display = 'block';
        }
    }
</script>
</body>
</html>
