<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Media</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #d6d6d6;
        }
        .form-container {
            background: white;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            width: 100%;
            max-width: 500px;
        }
    </style>
</head>
<body>
<div class="form-container">
    <h1 class="mb-4 text-center">Editar Media</h1>
    <form action="/admin/media/update/{{media.id}}" method="POST" novalidate>
        <div class="mb-3">
            <label for="integrante" class="form-label">Integrante</label>
            <input type="text" class="form-control" name="integrante" id="integrante" value="{{media.nombreIntegrante}}" readonly>
        </div>

        <div class="mb-3">
            <label for="tipo_media" class="form-label">Tipo Media</label>
            <input type="text" class="form-control" name="tipo_media" id="tipo_media" value="{{media.nombreTipoMedia}}" readonly>
        </div>

        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" name="titulo" id="titulo" value="{{media.titulo}}" required>
        </div>

        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" name="descripcion" id="descripcion" value="{{media.alt}}" required>
        </div>

        <div class="mb-3">
            <label for="orden" class="form-label">Orden</label>
            <input type="number" class="form-control" name="orden" id="orden" value="{{media.orden}}" readonly>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Editar</button>
            <button type="button" class="btn btn-danger" onclick="window.location.href='/admin/media/listar'">Volver</button>
        </div>
    </form>
    {{#if error}}
        <div class="alert alert-danger mt-3">{{error}}</div>
    {{/if}}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
