<nav>
    <ul id="nav-list">
        <li><a href="/">Inicio</a></li>
        {{#each integrantes}}
            <li><a href="/{{matricula}}/">{{nombre}} {{apellido}}</a></li>
        {{/each}}
        {{#if isAuthenticated}}
                <li><a href="/admin">Admin</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        {{else}}
            <li><a href="/auth/login">Login</a></li>
        {{/if}}
    </ul>
</nav>
