.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    max-width: 500px;
    align-items: flex-start;
}

label {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

input, textarea {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.radio-label {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.button-group {
    display: flex;
    gap: 1rem;
    width: 100%;
}

button {
    flex: 1;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}