<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tipo Media</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #d6d6d6;
        }
        .form-container {
            background: white;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            width: 100%;
            max-width: 500px;
        }
    </style>
</head>
<body>
<div class="form-container">
    <h1 class="mb-4 text-center">Editar Tipo Media</h1>
    <form action="/admin/tipo_media/update/{{tipoMedia.id}}" method="POST" novalidate>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" value="{{tipoMedia.nombre}}" required>
        </div>

        <div class="mb-3">
            <label for="orden" class="form-label">Orden</label>
            <input type="number" class="form-control" name="orden" id="orden" value="{{tipoMedia.orden}}" required>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Editar</button>
            <button type="button" class="btn btn-danger" onclick="window.location.href='/admin/tipo_media/listar'">Volver</button>
        </div>
    </form>
    {{#if error}}
        <div class="alert alert-danger mt-3">{{error}}</div>
    {{/if}}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
