<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tipo Media</title>
    <link rel="stylesheet" href="/paginas/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body style="background-color: #d6d6d6;">
<div class="container mt-5">
    <header class="text-center mb-4">
        <h1>Tipo Media</h1>
    </header>
    <div class="d-flex justify-content-start mb-4">
        <button onclick="location.href='/admin'" class="btn btn-danger me-3">Volver</button>
        <button onclick="location.href='/admin/tipo_media/crear'" class="btn btn-success">Crear</button>
    </div>

    <section class="mb-4">
        <h3>Filtros</h3>
        <form id="filterForm" method="get" action="/admin/tipo_media/listar" class="row g-3">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" name="s[nombre]" id="nombre" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="activo" class="form-label">Activo</label>
                <select name="s[activo]" id="activo" class="form-select">
                    <option value=""></option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
            <div class="col-12 d-flex justify-content-start">
                <button type="submit" class="btn btn-primary me-2">Filtrar</button>
                <button type="reset" class="btn btn-secondary" onclick="clearForm()">Limpiar</button>
            </div>
        </form>
    </section>

    {{#if successMessage}}
        <div class="alert alert-success">
            {{successMessage}}
        </div>
    {{/if}}

    {{#if errorMessage}}
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
    {{/if}}

    {{#if tipoMedia.length}}
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Orden</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {{#each tipoMedia}}
                <tr>
                    <td>{{nombre}}</td>
                    <td>{{#if activo}}
                        Activo
                    {{else}}
                        Inactivo
                    {{/if}}
                    </td>
                    <td>{{orden}}</td>
                    <td>
                        <a href="/admin/tipo_media/editar/{{id}}" title="Editar" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                        <form id="deleteForm_{{id}}" action="/admin/tipo_media/delete/{{id}}" method="post" title="Eliminar" style="display:none;">
                            <input type="hidden" name="_method" value="POST">
                            <input type="submit" value="Confirmar Eliminación" class="btn btn-danger btn-sm">
                        </form>
                        <button onclick="confirmDelete('{{id}}')" title="Eliminar" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Eliminar</button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{else}}
        <div class="alert alert-info" role="alert">
            No se encontraron tipos de media.
        </div>
    {{/if}}
</div>
<script>
    function confirmDelete(id) {
        if (!window.confirm('¿Estás seguro de que quieres eliminar este tipo de medio?')) {
            return false;
        }

        document.getElementById(`deleteForm_${id}`).style.display = 'block';

        setTimeout(function() {
            document.getElementById(`deleteForm_${id}`).submit();
        }, 1000);
    }
    function clearForm() {
        document.getElementById('nombre').value = '';
        document.getElementById('activo').value = '';
        document.getElementById('filterForm').submit();
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
